<!-- payments/templates/payments/process_payment.html -->
{% extends "base.html" %}

{% block content %}
  <h1>Payment for Order {{ order.id }}</h1>
  <p>Total Amount: ${{ order.get_total_cost }}</p>
  <form action="" method="post">
    {% csrf_token %}
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{ stripe_public_key }}"
      data-amount="{{ amount_cents }}"
      data-name="My Shop"
      data-description="Payment for Order {{ order.id }}"
      data-email="{{ request.user.email }}"
      data-currency="usd"
      data-locale="auto">
    </script>
  </form>
{% endblock %}
