<!-- templates/partials/header.html -->
{% load static %}
<head>
    <link rel="stylesheet" href="{% static "/css/navbar_custom.css" %}">
    <script src="{% static "/js/navbar_custom.js" %}" defer></script>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <div class="container d-grid">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="#" class="nav-link">Our Story</a></li>
        </ul>

        <!-- Website Logo / Brand Name -->
        <a class="navbar-brand" href="{% url 'landing-page' %}">
            <img src="{% static 'images/path_logo.png' %}" alt="Logo" width="55" height="55"  style="border-radius: 17px;">
        </a>
        

        <!-- Toggle button for mobile view -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                {% if request.COOKIES.access_token %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item px-1">
                        <a class="btn btn-brand-color-brightgreen" style="color:white;" href="{% url 'sign-up' %}">Get Started</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="{% url 'sign-in' %}">Sign in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>         </div>
        </div>
    </nav>
</body>
</html>
